$black: #000;
$gray: #2A2B30;
$blue: #43ABF0;
$white: #FFFFFF;
$header_bg: #10101DE5;
$header_bg_mob: #10101D;
$dark: #232426;
$form_color:#272733;
$footer_color:#3D4050;


//transition
$time: 0.4s;

