@font-face {
  font-family: 'Lato-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Lato-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Lato-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

$title_font: 'Lato-Bold';
$main_font: 'Lato-Regular';
